[Desktop Entry]
Version=1.0
Name=Install Parrot Security
Name[fr]=Installer Parrot Security
Comment=Install this system permanently to your hard disk
Comment[fr]=Installer ce système de manière permanente sur votre disque dur
Exec=su-to-root -X -c /usr/sbin/debian-installer-launcher
Icon=debian-installer-launcher
Type=Application
Categories=Application;System;
StartupNotify=true
Terminal=false
